.experience {
     position: absolute;
     top: 0;
     z-index: 1;
     display: flex;
     height: 100vh;
}
.experience .content {
     margin-left: 8vw;
     padding: 25px 50px;
     display: flex;
     flex-direction: column;
     row-gap: 15px;
}
.experience .progress {
     width: 50vw;
     height: 40px;
}
.experience .bar {
     background-color: #fff;
     border-radius: 10px;
     height: 10px;
     border: 1px solid black;
}
.experience .percentage {
     background-color: black;
     height: 10px;
     border-radius: 10px;
}
.experience .progress-content {
     display: flex;
     justify-content: space-between;
}
.experience img {
     margin-right: 2vw;
     margin-top: 20px;
     height: 40px;
     border-radius: 15px;
}
.experience .wrapper {
     display: flex;
}