.experience {
     position: absolute;
     top: 0;
     z-index: 1;
     display: flex;
     height: 100vh;
}
.experience .content {
     margin-left: 8vw;
     padding: 25px 50px;
     margin-left: 20vw;
     transition: 200ms;
}
.experience .progress {
     width: 60%;
     height: 40px;
}
.experience .bar {
     background-color: #fff;
     border-radius: 10px;
     height: 10px;
     border: 1px solid black;
}
.experience .percentage {
     background-color: black;
     height: 10px;
     border-radius: 10px;
}
.experience .progress-content {
     display: flex;
     justify-content: space-between;
}
.experience .wrapper img {
     margin-right: 2vw;
     margin-top: 20px;
     height: 40px;
     border-radius: 15px;
}
.experience .wrapper {
     display: flex;
}
.experience .rows {
     width: 50%;
     height: 100%;
     flex-direction: row;
}
.experience .cols {
     display: flex;
     width: 60vw;
     height: 40vh;
     flex-direction: row;
     row-gap: 10px;
}
.experience h1 {
     margin-top: 50px;
     text-align: center;
     text-transform: uppercase;
     font-family: 'Jost', sans-serif;
     font-size: 35px;
     font-weight: 400;
     margin-left: -10vw;
}
.experience p {
     text-align: center;
}

@media (max-width: 768px) {
     .experience .progress {
          width: 100%;
     }
     .experience .cols {
          flex-direction: column;
          width: 80vw;
     }
     .experience .rows {
          margin-left: 10vw;
          width: 60vw;
     }
}
@media (max-width: 768px) {
     .experience .content {
          margin-left: -10vw;
     }
     .experience h1 {
          margin-left: 5vw;
     }
}