.sidebar ul {
     display: flex;
     flex-direction: column;
     list-style: none;
     row-gap: 10px;
}
.sidebar a {
     font-size: 40px;
     color: transparent;
     text-decoration: none;
     -webkit-text-stroke: 1px var(--dark-blue);
     text-transform: uppercase;
     animation: active-anim 0.3s ease-in backwards;
}
.sidebar a:hover::before {
     content: attr(data-text);
     position: absolute;
     text-decoration: underline;
     color: var(--dark-blue);
     width: 0;
     overflow: hidden;
     animation: active-anim 0.3s ease-in forwards;
}
@keyframes active-anim {
     to {
          width: 100%;
     }
}