:root {
  --dark-blue: #102937;
  --dark-blue-focus: #091d26;
  --dark-green: #124d54;
  --dark-green-focus: #094044;
  --orange: #f9744d;
  --orange-focus: #d84f2a;
  --beige: #e1d9cf;
  --beige-focus: #d6c4b0;
  --white: #ededed;
  --white-focus: #ede6df;
}

.light {
  background-color: var(--white);
  transition: 200ms;
}
.light p, .light a, .light li {
  color: var(--dark-blue);
  transition: 200ms;
}

.dark {
  background-color: var(--dark-blue);
  transition: 200ms;
}
.dark p, .dark a, .dark li {
  color: var(--white);
  transition: 200ms;
}